body {
  background-color: rgb(23, 23, 23);
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.photo {
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 420px;
  height: auto;
}

.photo img {
  width: 420px;
  height: auto;
}

.like {
  display: none;
}
.like-label {
  cursor: pointer;
  padding: 10px;
  background-color: #425eef;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}
.like:checked + .like-label {
  background-color: #a1a1a1;
}

.load-history {
  padding: 10px;
  background-color: #425eef;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.load-history:hover {
  box-shadow: 3px 2px 2px rgb(255, 255, 255);
  background-color: #91a2f7;
  color: black;
}
